@font-face {
  font-family: 'monocraft';
  src: url(@site/static/font/Monocraft.ttf);
}

.box {
  background-color: #76c1ff38;

  display: flex;

  border: 5px solid #00a6ff74;
  border-radius: 20px;

  margin: 10px;

  padding: 10px;
}

.gif {
  background-color: #575f6b;

  display: flex;

  align-items: flex-start;
  justify-content: center;

  height: 0%;

  border: 4px solid #6b6b6b;
  border-radius: 10px;

  margin-right: 10px;

  min-width: 256px;
  max-width: 256px;
}

.txt {
  font-family: 'monocraft';
  font-size: 16px;

  background-color: #1e1e1e;

  display: flex;

  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  border: 1px solid #9d9d9d;
  border-radius: 10px;

  padding: 10px;

  width: 100%;
  height: 100%;

  max-width: 100%;
}