.personal {
  position: relative;

  width: 100%;
  height: 100%;
  margin: 22px;

  animation: drag 0.5s infinite ease-in-out;
}

/* Decores */

.blueEyeFireAnim0 {
  animation: wavesRotateEasy 1s infinite ease-in-out;
}
.blueEyeFireAnim1 {
  animation: wavesRotateEasy 1.25s infinite ease-in-out;
}

.magicCore {
  position: absolute;

  background: url('@site/static/img/doc/personal/MagicCore.gif') no-repeat center center;
  background-size: 225px;

  left: -25px;
  top: 180px;
  right: 0px;
  bottom: 0px;

  animation: magicCoreAnimation 3s infinite ease-in-out;
}

.chipsLays {
  position: absolute;

  background: url('@site/static/img/doc/personal/LaysFreshAir.png') no-repeat center center;
  background-size: 175px;

  left: 0px;
  top: 150px;
  right: 0px;
  bottom: 0px;

  animation: rotate3D 4s infinite linear;
}
.chipsLays3D {
  position: absolute;

  background: url('@site/static/img/doc/personal/LaysComressedAir3D-SD.gif') no-repeat center center;
  background-size: 256px;

  left: 0px;
  top: 150px;
  right: 0px;
  bottom: 0px;
}

.glint {
  position: absolute;

  background: url('@site/static/img/doc/personal/Glint.png') no-repeat center center;

  background-size: 320px;

  left: 0px;
  top: 150px;
  right: 0px;
  bottom: 0px;

  animation: rotateY 3s infinite linear;
}

@keyframes magicCoreAnimation {
  0%, 100% { transform: translateY(-10px) }
  50% { transform: translateY(10px) }
}
@keyframes drag {
  /* Move */
  0%, 50%, 100% { transform: translateY(-4px) }
  25%, 74% { transform: translateY(4px) }

  /* Rotate */
  0%, 100% { transform: rotate(-0.5deg); }
  50% { transform: rotate(0.5deg); }
}
@keyframes rotate3D {
  from { transform: rotateY(0deg) }
  to { transform: rotateY(360deg) }
}
@keyframes wavesRotateEasy {
  0%, 100% { transform: rotate(-5deg) }
  50% { transform: rotate(5deg) }
}
@keyframes rotateY {
  to { transform: rotate(360deg) }
}