.img-container {
  position: relative;

  width: 512px;
  height: 512px;
  margin: 22px;

  animation: drag 0.5s infinite ease-in-out;
}

/* AlgorithmLX TYPES */

.img-static-algo {
  position: absolute;

  background: url('@site/static/img/doc/personal/AlgorithmLX_NEW.png') no-repeat center center;
  background-size: cover;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}
.img-static-algo-demon {
  position: absolute;

  background: url('@site/static/img/doc/personal/AlgorithmLX_NEW_DEMON_BG.png') no-repeat center center;
  background-size: cover;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}
.img-animate-algo0 {
  position: absolute;

  background: url('@site/static/img/doc/personal/BlueEyeFire.png') no-repeat center center;
  background-size: 55px;

  left: 0px;
  bottom: 0px;
  top: -250px;
  right: 0px;
}
.img-animate-algo1 {
  position: absolute;

  background: url('@site/static/img/doc/personal/BlueEyeFire.png') no-repeat center center;
  background-size: 55px;

  left: 130px;
  bottom: 0px;
  top: -240px;
  right: 0px;
}

/* HollowHorizon TYPES */

.img-static-hollow {
  position: absolute;

  background: url('@site/static/img/doc/personal/HollowHorizon_NEW_BG.png') no-repeat center center;
  background-size: cover;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}
.img-static-hollow-shock {
  position: absolute;

  background: url('@site/static/img/doc/personal/HollowHorizon_NEW_SHOCK.png') no-repeat center center;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}
.img-animate-magicCore {
  position: absolute;

  background: url('@site/static/img/doc/personal/MagicCore.png') no-repeat center center;
  background-size: 180px;

  left: -10px;
  bottom: 0px;
  top: 150px;
  right: 0px;

  animation: magicCoreMove 5s infinite ease-in-out;
  animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
.img-animate-lays {
  position: absolute;

  background: url('@site/static/img/doc/personal/LaysFreshAir.png') no-repeat center center;
  background-size: 35%;

  left: -10px;
  bottom: 0px;
  top: 150px;
  right: 0px;

  animation: magicCoreMove 5s infinite ease-in-out, rotate3D 4s infinite linear;
  /*animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);*/
}

/* _BENDY659_ TYPES */

.img-static-bendy {
  position: absolute;

  background: url('@site/static/img/doc/personal/_BENDY659_NEW.png') no-repeat center center;
  background-size: cover;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}

@keyframes magicCoreMove {
  /*0%, 100% { transform: rotate(0deg) }
  50% { transform: rotate(10deg) }*/

  0%, 50%, 100% { transform: translateY(10px); }
  25%, 75% { transform: translateY(-10px); }

  /*0% { transform: translateY(5px) rotate(-5deg) }
  25% { transform: translateY(-5px) rotate(0deg) }
  50% { transform: translateY(5px) rotate(5deg) }
  75% { transform: translateY(-5px) rotate(5deg) }
  100% { transform: translateY(5px) rotate(-5deg) }*/
}
@keyframes drag {
  /* Move */
  0%, 50%, 100% { transform: translateY(-4px) }
  25%, 74% { transform: translateY(4px) }

  /* Rotate */
  0%, 100% { transform: rotate(-0.5deg); }
  50% { transform: rotate(0.5deg); }
}
@keyframes rotate3D {
  0% { transform: rotateY(0deg) }
  100% { transform: rotateY(360deg) }
}