.cont::before {
  /*width: 960px;*/
  width: auto;
  /*height: 512px;*/
  height: auto;
}
.show {
  position: relative;

  animation: show 5s;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);

  z-index: 1;

  margin-bottom: 24px;
}
@keyframes show {
  from { transform: translateY(-100px);  opacity: 0; }
  to { transform: translateY(0px); opacity: 1; }
}

/* FUCKING MASK */

#mask {
  z-index: 2;

  width: auto;
  height: auto;

  /*mask-image: linear-gradient(180deg, rgba(0,0,0,1) 75%, rgba(255,255,255,0) 95%);*/
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-composite: exclude;
  -webkit-mask-image: url('./title_mask.png');
  mask-image: url('./title_mask.png');
}