.cont::before {
  /*width: 960px;*/
  width: auto;
  /*height: 512px;*/
  height: auto;
}
.show{
  position: relative;

  animation: show 5s;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
@keyframes show {
  from { transform: translateY(-100px);  opacity: 0; }
  to { transform: translateY(0px); opacity: 1; }
}

/* FUCKING MASK */

#mask {
  mask-image: linear-gradient(180deg, rgba(0,0,0,1) 75%, rgba(255,255,255,0) 95%);
  mask-repeat: no-repeat;
}