.img-txt-cont {
  display: flex;
  align-items: flex-start;
}
.img-txt-cont img {
  height: auton;
  width: auto;
  max-width: 300px;
  object-fit: contain;
}
.txt {
  padding-left: 10px;
  align-self: flex-start;
}