.img-txt-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: -20px;
}
.img-txt-cont img {
  height: auton;
  width: auto;
  margin-right: 40px;
}
.txt {
  padding-top: 1px;
}