.def {
  scale: 0.975;
  background-color: #383838;
  color: #808080;
  border-bottom-color: #000000;
}
.def[aria-selected='true'] {
  background-color: #2035be;
  color: #ade0ff;
  border-bottom-color: #0095ff;
}