.def {
  scale: 0.975;
  background-color: #004d69;
  color: #9586ff;
  border-bottom-color: #003552;
}
.def:hover {
  color: #00857e;
  background-color: #002e70;
  border-bottom-color: #002977;
}
.def[aria-selected='true'] {
  background-color: #00888c;
  color: #c0d9ff;
  border-bottom-color: #005583;
}